<!-- Start NavBar -->
<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="parent">
    <div class="logo2">
    <img src="../../assets/logo2-01.png" alt="logo" class="logo-img">
    </div>
  <div class="start">
    <img src="../../assets/star.png" alt="">
    <img src="../../assets/star.png" alt="">
    <img src="../../assets/star.png" alt="">
    <img src="../../assets/star.png" alt="">
    <img src="../../assets/star.png" alt="">
    <span>(0,00)</span>
  </div>
  <div class="enter">
    <img src="../../assets/notification.png" alt="notification" class="notification-img">
    <span>User name</span>
    <img src="../../assets/profile-user.png" alt="profile-user" class="profile-user-img">
  </div>
  </div>
</nav>
<!-- End NavBar -->

<!-- Start Section Info -->
<section class="info">
  <div class="back"></div>
      <div class="about">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <img src="../../assets/healthcare-workers-medicine-covid-19-pandemic-self-quarantine-concept-smiling-attractive-doctor-scrubs-glasses-stethoscope-neck-cross-arms-chest-ready-help-patients.jpg" alt="">
            </div>
            <div class="details col-sm-4">
              <h1>Mohamed EID</h1>
              <h2>ydm5384@gmail.com</h2>
              <hr>
              <h2>Nursing College</h2>
              <div class="start">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                  <span>(0,00)</span>
              </div>
              <img src="../../assets/coin.png" >
              <div class="com">
                <span>N / A</span>
                <h5>Jobs Complete</h5>
              </div>
              <div class="com">
                <span>N / A</span>
                <h5>On Time</h5>
              </div>
              <!-- <img src="../../assets/coin.png" alt=""> -->
            </div>
            <div class="col-sm-4">
              <button class="btn btn-danger">Edit Profile</button>
            </div>
            <div class="time">
              <div class="first">
                <i class="fa fa-circle"></i>
                <p class="online">I'm Online !</p>
              </div>
              <div class="first">
                <img src="../../assets/money-bag.png" alt="">
                <p>$10 USD / hour</p>
              </div>
              <div class="first">
                <img src="../../assets/map.png" alt="">
                <p>Ash Sharqia Governorate, Egypt </p>
              </div>
              <div class="first">
                <img src="../../assets/clock.png" alt="">
                <p>It's currently 11:52 AM here </p>
              </div>
              <div class="first">
                <img src="../../assets/like.png" alt="">
                <p>0 Recommendations</p>
              </div>
            </div>
          </div>
        </div>

      </div>

</section>
<!-- End Section Info -->

<!-- Start Section Cv -->
<section class="up">
  <div class="container">
    <div class="upload">
      <div class="input-group">
        <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Upload</button>
      </div>
      <!-- <img src="../../assets/1092.jpg" alt=""> -->
    </div>
  </div>
</section>
<!-- End Section Cv -->

<img src="../../assets/chat.png" class="chat">

<!-- Start Section CopyRight -->
<section class="copyright">
  <p>© Copyright Smart-nursing. All Rights Reserved</p>
</section>

<!-- End Section CopyRight -->
