<header id="home">
  <div class="container-fluid">
  <div class="row">
  <div class=" col-md-10  main-text-header">
      <div class="col-md-7  text-center ms-md-3 mt-auto" >
  <h2 class="fw-bolder header-text">WELCOME TO SMART-NURSING</h2>
<p class="text-header fs-5">
You Are In The Right Place And Your Choice Is Successful,<br>
As This Is A Site That Provides Nurses With High Accuracy,<br>
Great Experience And An Outstanding Performance Experience,<br>
So Enjoy.
</p>
  </div>
  </div>
  <div class="col-md-6">
<div class="button-sign text-center">
  <button type="button" class="btn btn-primary rounded-pill fw-bolder ms-3 ps-4 pe-4  fs-5 text-center" routerLink="/login">Sign in</button>
</div>
</div>
  </div>
  <div class="container">
  <div class="row">

      <div class="col-lg-5  text-center  mb-sm-2 end-home bg-light ">
          <h3 class="fw-bolder header-text">WHY CHOOSE SMART-NURSING?</h3>
          <p class="text-header fs-5">Because in short, you will find what you are looking for and
              what you wish for from a comprehensive treatment service
              available at simple prices, just choose your nurse</p>
      </div>
      <div class="col-md-7"></div>

  </div>
</div>

</div>
</header>
