.icon-footer{
  width: 40px;
  margin-left: 5px;
}
.foooter-container{
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: #e2e9f1;
}
.footer-end
{
background-color: #1374ba;
}
h2{
  color: #2c4964;
}