<footer>
  <div class="container-fluid foooter-container mt-3">
      <div class="row">
          <div class="col-md-12  text-center">
          <h2 class="mb-4 mt-2 fw-bold fs-2">Contact US</h2>
              <span class="ms-2 mb-4">
  <a href=""><img src="../../assets/instagram.png" class="icon-footer" alt="" srcset=""></a>
  <a href=""><img src="../../assets/linkedin.png" class="icon-footer" alt="" srcset=""></a>
  <a href=""><img src="../../assets/twitter.png" class="icon-footer" alt="" srcset=""></a>
  <a href=""><img src="../../assets/facebook.png" class="icon-footer" alt="" srcset=""></a>
  <a href=""><img src="../../assets/email.png" class="icon-footer" alt="" srcset=""></a>
  <a href=""><img src="../../assets/whatsapp.png" class="icon-footer" alt="" srcset=""></a>
  
  
              </span>
              <div class="">
                  <img src="../../assets/logo2-01.png" class="w-50" alt="" srcset="">
              </div>
          </div>
      </div>
   
  </div>
  <div class="container-fluid">
      <div class="row">
          <div class=" col-md-12 text-center footer-end pt-2 text-light fw-normal fs-5 lead d-flex justify-content-center align-items-center">
              <div>
                  <p>© Copyright Smart-nursing. All Rights Reserved</p>
              </div>
          </div>
      </div>
  </div>
  </footer>