<section id="about">

<div class="empty-sec bg-body"></div>
<div class="container-fluid  counter ">
    <div class=" container">
      <div class="row mt-1">

        <div class="col-md-3  text-center p-3">
            <div class="bg-body counter2 mt-4">
          <img src="../../assets/nurse.png" class="w-25 bg-primary rounded-circle" alt="">
          <h2 class="counter-num">{{numofplus}}</h2>
          <p class="fw-bolder fs-5 counter-txt">Nurses</p>
        </div>
        </div>


        <div class="col-md-3 text-center p-3 ">
            <div class="bg-body counter2 mt-4">
          <img src="../../assets/sign.png" class="w-25 bg-primary rounded-circle" alt="">
          <h2 class="counter-num">{{numofplus2}}</h2>
          <p class="fw-bold fs-5 counter-txt">Visitors</p>
        </div>
        </div>


        <div class="col-md-3 text-center p-3 ">
            <div class="bg-body counter2 mt-4">
          <img src="../../assets/checked.png" class="w-25 bg-primary rounded-circle" alt="">
          <h2 class="counter-num">{{numofplus3}}</h2>
          <p class="fw-bolder fs-5 counter-txt">successful cases</p>
        </div>
        </div>

        <div class="col-md-3 text-center p-3 ">
            <div class="bg-body counter2 mt-4">
          <img src="../../assets/profile-user.png"  class="w-25" alt="">
          <h2 class="counter-num">{{numofplus3}}</h2>
          <p class="fw-bolder fs-5 counter-txt">Site Visitor</p>
        </div>
      </div>
    </div>
    </div>
  </div>

</section>
