<div class="container-fluid section-social">
  <div class="row">
      <div class="col-md-6">
        <i class="far fa-envelope mobile-alt fs-5"></i>
          <span class="email-info text-muted text-capitalize fs-5">contact@email.com</span>
          <span><i class="fas fa-mobile-alt mobile-alt fs-5"></i></span>
          <span class="text-muted fs-5"> +201025056066</span>
      </div>
<div class="col-sm-6">
<div class="row ">
  <div class="col-md-9"></div>
  <div class="col-md-3">
    <span class="mt-1 bg-info ">
      <span class="d-flex justify-content-lg-evenly mt-1">
    <a href=""><img src="../../assets/instagram.png" class="social-icon" alt="instgram-icon"></a>
    <a href=""><img src="../../assets/linkedin.png" class="social-icon" alt="linkedin-icon"> </a>
    <a href=""><img src="../../assets/facebook.png" class="social-icon" alt="facebook-icon"></a>
    <a href=""><img src="../../assets/twitter.png" class="social-icon" alt="twitter-icon"></a>
    </span>
  </span>
  </div>
</div>

</div>
</div>
</div>

<nav class="navbar navbar-expand-lg navbar-light">
<div class="container-fluid">
<a class="navbar-brand"  href="#"><img src="../../assets/logo2-01.png" alt="Logo" class="logo-Website" />  </a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav  m-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link active text-capitalize nav-link-home fs-5 fw-bolder" aria-current="page" routerLinkActive="active" (click)="ToHome()">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-capitalize fs-5 fw-bolder nav-link-hover"  (click)="ToAbout()">about</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-capitalize fs-5 fw-bolder nav-link-hover" (click)="ToServices()">services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-capitalize fs-5 fw-bolder nav-link-hover" (click)="ToNurse()">nurses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-capitalize fs-5 fw-bolder nav-link-hover" (click)="ToContact()">contact</a>
    </li>
  </ul>
  
  <div class="dropdown">
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
  <div class="sec-profile d-flex align-items-center dropdown">
    <img src="../../assets/notification.png" class=" dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" alt=" me-3" srcset="">
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
      <span class="fw-bolder  fs-5 user-name lead">User Name</span>
<img src="../../assets/profile-user.png" class="profile" alt="">
</div>
</div>
</div>
</nav>