h3{
  margin: auto;
}
.line-contact{

  width: 12%;
  margin-bottom: 50px;
  margin: auto;
  opacity: 1!important;
}
.line-contact::after{
  content: "";
  position: absolute;
  width: 4%;
  height: 8px;
  text-align: center;
  margin-left: 35px;
  margin-top: -3px; 
  background-color: #1374ba;
}
.images-i{
font-size: 30px;
color: #1374ba!important;
}
.images{
  width: 30px;
}
.contact-text{
  color: #2c4964;
}
ul{

  list-style: none;
}