<!-- <div class="container-fluid">
    <div class="">
        <div class="col-md-6">
            <div class="bg-black">
            <h3>Our goal</h3>
            <p>It is to achieve a wide, comprehensive service that
                is accessible to everyone. In order to ensure your
                health, we offer you an online service that
                includes everything you want.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-success">
                <h3>Our Mission</h3>
                <p>We start by making the patient assessment
                    and follow through.
                    Directing the Home Care program every
                    step of the way, until the patient is discharged.</p>
            </div>
        </div>
   
        <div class="float-end">
            <div class="w-50 float-end">
                <img src="../../assets/video.jpg" class="w-100 rounded-3" alt="" srcset="">
            </div>
            </div> 
</div>
</div> -->

<div class="container-fluid mt-5" id="services">
  <div class="row">
      <div class="col-md-6">
          <div class="text-service text-center  rounded-3 p-4 mt-1 lead">
              <h3 class="head-service">Our goal</h3>
              <p class="phar-services">It is to achieve a wide, comprehensive service that
                  is accessible to everyone. In order to ensure your
                  health, we offer you an online service that
                  includes everything you want.</p>
          </div>
          <div class="text-service  text-center p-4 rounded-3 mt-4 lead">
          <h3 class="head-service">Our Mission</h3>    
          <p class="phar-services">We start by making the patient assessment
              and follow through.
              Directing the Home Care program every
              step of the way, until the patient is discharged.</p>
          </div>
      </div>
      <div class="col-md-6">
          <div class="imag-services rounded-3">
          <a href=""><img src="../../assets/video.jpg" class="w-100 " alt="" srcset=""></a>
          </div>
      </div>
  </div>
</div>
<div class="container-fluid mt-5 bg-primary p-4 mb-4">
  <div class="row text-center">
      <div class="col-md-4">
          <div class="text-light fs-5 sec-service">
              <a href=""> <img src="../../assets/hospital.png"  alt="" srcset=""></a>
              <h3 class=" ">Long Term Waiver</h3>
              <p class=" lead">Patients who need an extra level
                  of care.</p>
          </div>
      </div>
      <div class="col-md-4">
          <div class="text-light fs-5 sec-service">
              <a href=""><img src="../../assets/customer.png"  alt="" srcset=""></a>
              <h3>Skilled Services</h3>
              <p  class=" lead">Our agency offers a broad range of
                  services.</p>
          </div>
      </div>
      <div class="col-md-4">
          <div class="text-light fs-5 sec-service">
              <a href=""> <img src="../../assets/mental-health.png"  srcset=""></a>
              <h3>Mental Health</h3>
              <p  class=" lead">We provide services tailored to
                  meet your needs.</p>
          </div>
      </div>
  </div>
</div>