<section class="reservation">
  <div class="container">
    <img src="../../assets/logo2-01.png" alt="">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label p ">Please enter real information</label>
        <input type="text" class="form-control" placeholder="Full Name" id="exampleInputEmail1">
      </div>

      <div class="mb-3 email">
        <input type="email" class="form-control" placeholder = "Email">
      </div>

      <div class="mb-3 phone">
        <input type="text" class="form-control " placeholder = "Phone">
      </div>

      <div class="mb-3">
        <input type="text" class="form-control " placeholder = "Detailed address">
      </div>

      <div class="mb-3 date">
        <input type="date" class="form-control ">
      </div>

      <div class="mb-3 number">
        <input type="number" class="form-control " placeholder="00:00">
      </div>

        <textarea class="form-control" placeholder="Diagnosis and pathology"></textarea>

        <p>Select your address</p>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d345.6955751868165!2d31.46840976310342!3d30.048815811724662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14582298a0c9e4b5%3A0xa9e139c0533b833d!2sCairo%20Higher%20Institute%20for%20Engineering%2C%20Computer%20Science%20and%20Management!5e1!3m2!1sen!2seg!4v1636799420480!5m2!1sen!2seg"  style="border:0; width: 40%; height: 130px;" allowfullscreen="" loading="lazy"></iframe>


      <button type="submit" class="btn btn-primary confirmation">Confirmation</button>
    </form>
  </div>
</section>
