<section id="nurse">
  
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators carsol-rout">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active bg-info bor" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2" class=" bg-info bor"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3" class="bg-info bor"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="container">
        <div class="row">
      <div class="col-md-6">
          <div class="bg-body border-carsol mt-2 p-3">
              <img src="../../assets/nurse1.jpg" class=" rounded-circle nurse-one bg-dark" alt="nurse-khaled ahmed">

              <div class="pe-1 w-75 float-sm-end mt-2">
                  <h4 class="text-carsol">Khaled ahmed</h4>
                  <p class="text-carsol fw-bold fs-6">
                      Master's degree in Cardiac Nursing with
                      five years of experience</p>
                  </div>
                  <div class="w-100 d-flex justify-content-end ">

                  <img src="../../assets/instagram.png" class="ooo" alt="">
                  <img src="../../assets/linkedin.png" class="ooo" alt="">
                  <img src="../../assets/twitter.png" class="ooo" alt="">
                  <img src="../../assets/facebook.png" class="ooo" alt="">
                  </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="bg-body border-carsol mt-2 p-3">
              <img src="../../assets/nurse2.jpg" class=" rounded-circle nurse-tow bg-dark" alt="nurse-khaled ahmed">

              <div class="pe-1 w-75 float-sm-end mt-2">
                  <h4 class="text-carsol">Khaled ahmed</h4>
                  <p class="text-carsol fw-bold fs-6">
                      Master's degree in Cardiac Nursing with
                      five years of experience</p>
                  </div>
                  <div class="w-100 d-flex justify-content-end ">

                  <img src="../../assets/instagram.png" class="ooo" alt="">
                  <img src="../../assets/linkedin.png" class="ooo" alt="">
                  <img src="../../assets/twitter.png" class="ooo" alt="">
                  <img src="../../assets/facebook.png" class="ooo" alt="">
                  </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="bg-body border-carsol mt-2 p-3">
              <img src="../../assets/Nurse19-2.jpg" class=" rounded-circle nurse-tow bg-dark" alt="nurse-khaled ahmed">

              <div class="pe-1 w-75 float-sm-end mt-2">
                  <h4 class="text-carsol">Khaled ahmed</h4>
                  <p class="text-carsol fw-bold fs-6">
                      Master's degree in Cardiac Nursing with
                      five years of experience</p>
                  </div>
                  <div class="w-100 d-flex justify-content-end ">

                  <img src="../../assets/instagram.png" class="ooo" alt="">
                  <img src="../../assets/linkedin.png" class="ooo" alt="">
                  <img src="../../assets/twitter.png" class="ooo" alt="">
                  <img src="../../assets/facebook.png" class="ooo" alt="">
                  </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="bg-body border-carsol mt-2 p-3">
              <img src="../../assets/nurse-rana.jpg" class=" rounded-circle nurse-one bg-dark" alt="nurse-khaled ahmed">

              <div class="pe-1 w-75 float-sm-end mt-2">
                  <h4 class="text-carsol">Khaled ahmed</h4>
                  <p class="text-carsol fw-bold fs-6">
                      Master's degree in Cardiac Nursing with
                      five years of experience</p>
                  </div>
                  <div class="w-100 d-flex justify-content-end ">

                  <img src="../../assets/instagram.png" class="ooo" alt="">
                  <img src="../../assets/linkedin.png" class="ooo" alt="">
                  <img src="../../assets/twitter.png" class="ooo" alt="">
                  <img src="../../assets/facebook.png" class="ooo" alt="">
                  </div>
          </div>
      </div>
  </div>
</div>
    </div>
    <div class="carousel-item">
      <div class="container">
          <div class="row">
        <div class="col-md-6">
            <div class="bg-body border-carsol mt-2 p-3">
                <img src="../../assets/nurse1.jpg" class=" rounded-circle nurse-one bg-dark" alt="nurse-khaled ahmed">

                <div class="pe-1 w-75 float-sm-end mt-2">
                    <h4 class="text-carsol">Khaled ahmed</h4>
                    <p class="text-carsol fw-bold fs-6">
                        Master's degree in Cardiac Nursing with
                        five years of experience</p>
                    </div>
                    <div class="w-100 d-flex justify-content-end ">

                    <img src="../../assets/instagram.png" class="ooo" alt="">
                    <img src="../../assets/linkedin.png" class="ooo" alt="">
                    <img src="../../assets/twitter.png" class="ooo" alt="">
                    <img src="../../assets/facebook.png" class="ooo" alt="">
                    </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-body border-carsol mt-2 p-3">
                <img src="../../assets/nurse2.jpg" class=" rounded-circle nurse-tow bg-dark" alt="nurse-khaled ahmed">

                <div class="pe-1 w-75 float-sm-end mt-2">
                    <h4 class="text-carsol">Khaled ahmed</h4>
                    <p class="text-carsol fw-bold fs-6">
                        Master's degree in Cardiac Nursing with
                        five years of experience</p>
                    </div>
                    <div class="w-100 d-flex justify-content-end ">

                    <img src="../../assets/instagram.png" class="ooo" alt="">
                    <img src="../../assets/linkedin.png" class="ooo" alt="">
                    <img src="../../assets/twitter.png" class="ooo" alt="">
                    <img src="../../assets/facebook.png" class="ooo" alt="">
                    </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-body border-carsol mt-2 p-3">
                <img src="../../assets/Nurse19-2.jpg" class=" rounded-circle nurse-tow bg-dark" alt="nurse-khaled ahmed">

                <div class="pe-1 w-75 float-sm-end mt-2">
                    <h4 class="text-carsol">Khaled ahmed</h4>
                    <p class="text-carsol fw-bold fs-6">
                        Master's degree in Cardiac Nursing with
                        five years of experience</p>
                    </div>
                    <div class="w-100 d-flex justify-content-end ">

                    <img src="../../assets/instagram.png" class="ooo" alt="">
                    <img src="../../assets/linkedin.png" class="ooo" alt="">
                    <img src="../../assets/twitter.png" class="ooo" alt="">
                    <img src="../../assets/facebook.png" class="ooo" alt="">
                    </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-body border-carsol mt-2 p-3">
                <img src="../../assets/nurse-rana.jpg" class=" rounded-circle nurse-one bg-dark" alt="nurse-khaled ahmed">

                <div class="pe-1 w-75 float-sm-end mt-2">
                    <h4 class="text-carsol">Khaled ahmed</h4>
                    <p class="text-carsol fw-bold fs-6">
                        Master's degree in Cardiac Nursing with
                        five years of experience</p>
                    </div>
                    <div class="w-100 d-flex justify-content-end ">

                    <img src="../../assets/instagram.png" class="ooo" alt="">
                    <img src="../../assets/linkedin.png" class="ooo" alt="">
                    <img src="../../assets/twitter.png" class="ooo" alt="">
                    <img src="../../assets/facebook.png" class="ooo" alt="">
                    </div>
            </div>
        </div>
    </div>
</div>
    </div>
    <div class="carousel-item">
      <div class="container">
          <div class="row">
        <div class="col-md-6">
            <div class="bg-body border-carsol mt-2 p-3">
                <img src="../../assets/nurse1.jpg" class=" rounded-circle nurse-one bg-dark" alt="nurse-khaled ahmed">

                <div class="pe-1 w-75 float-sm-end mt-2">
                    <h4 class="text-carsol">Khaled ahmed</h4>
                    <p class="text-carsol fw-bold fs-6">
                        Master's degree in Cardiac Nursing with
                        five years of experience</p>
                    </div>
                    <div class="w-100 d-flex justify-content-end ">

                    <img src="../../assets/instagram.png" class="ooo" alt="">
                    <img src="../../assets/linkedin.png" class="ooo" alt="">
                    <img src="../../assets/twitter.png" class="ooo" alt="">
                    <img src="../../assets/facebook.png" class="ooo" alt="">
                    </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-body border-carsol mt-2 p-3">
                <img src="../../assets/nurse2.jpg" class=" rounded-circle nurse-tow bg-dark" alt="nurse-khaled ahmed">

                <div class="pe-1 w-75 float-sm-end mt-2">
                    <h4 class="text-carsol">Khaled ahmed</h4>
                    <p class="text-carsol fw-bold fs-6">
                        Master's degree in Cardiac Nursing with
                        five years of experience</p>
                    </div>
                    <div class="w-100 d-flex justify-content-end ">

                    <img src="../../assets/instagram.png" class="ooo" alt="">
                    <img src="../../assets/linkedin.png" class="ooo" alt="">
                    <img src="../../assets/twitter.png" class="ooo" alt="">
                    <img src="../../assets/facebook.png" class="ooo" alt="">
                    </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-body border-carsol mt-2 p-3">
                <img src="../../assets/Nurse19-2.jpg" class=" rounded-circle nurse-tow bg-dark" alt="nurse-khaled ahmed">

                <div class="pe-1 w-75 float-sm-end mt-2">
                    <h4 class="text-carsol">Khaled ahmed</h4>
                    <p class="text-carsol fw-bold fs-6">
                        Master's degree in Cardiac Nursing with
                        five years of experience</p>
                    </div>
                    <div class="w-100 d-flex justify-content-end ">

                    <img src="../../assets/instagram.png" class="ooo" alt="">
                    <img src="../../assets/linkedin.png" class="ooo" alt="">
                    <img src="../../assets/twitter.png" class="ooo" alt="">
                    <img src="../../assets/facebook.png" class="ooo" alt="">
                    </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-body border-carsol mt-2 p-3">
                <img src="../../assets/nurse-rana.jpg" class=" rounded-circle nurse-one bg-dark" alt="nurse-khaled ahmed">

                <div class="pe-1 w-75 float-sm-end mt-2">
                    <h4 class="text-carsol">Khaled ahmed</h4>
                    <p class="text-carsol fw-bold fs-6">
                        Master's degree in Cardiac Nursing with
                        five years of experience</p>
                    </div>
                    <div class="w-100 d-flex justify-content-end ">

                    <img src="../../assets/instagram.png" class="ooo" alt="">
                    <img src="../../assets/linkedin.png" class="ooo" alt="">
                    <img src="../../assets/twitter.png" class="ooo" alt="">
                    <img src="../../assets/facebook.png" class="ooo" alt="">
                    </div>
            </div>
        </div>
    </div>
</div>
    </div>
  </div>
  <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon bg-primary rounded-circle" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon bg-primary rounded-circle" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container mt-5">
  <div class="row">

      <div class="col-md-6">
          <div class="bg-body border-carsol mt-2 p-3">
              <img src="../../assets/young.jpg" class=" rounded-circle nurse-comment bg-dark" alt="nurse-khaled ahmed">

              <div class="pe-1 w-75 float-sm-end mt-2">
                  <i class="fas fa-solid fa-quote-right float-end fs-1 text-primary"></i>
                  <h4 class="text-carsol">Hassan Ali</h4>
                  <p class="text-carsol fw-bold fs-6">
                      For I was to run away from the pain that was cillum,
                      the pain of the pain loves no fault of the many,
                      export minim fugiat minim velit minim </p>
                  </div>
                  <i class="fas fa-solid fa-quote-left fs-1 text-primary"></i>

          </div>
      </div>

      <div class="col-md-6">
          <div class="bg-body border-carsol mt-2 p-3">
              <img src="../../assets/ثبات-الرجل.jpg" class=" rounded-circle nurse-comment bg-dark" alt="nurse-khaled ahmed">

              <div class="pe-1 w-75 float-sm-end mt-2">
                  <i class="fas fa-solid fa-quote-right float-end fs-1 text-primary"></i>
                  <h4 class="text-carsol">Mostafa Adel</h4>
                  <p class="text-carsol fw-bold fs-6">
                      For I was to run away from the pain that was cillum,
  the pain of the pain loves no fault of the many,
  export minim fugiat minim velit minim </p>

                  </div>
                  <i class="fas fa-solid fa-quote-left fs-1 text-primary"></i>

          </div>
      </div>
  </div>
</div>

</section>