
<section class="form">
  <img src="../../assets/logo2-01.png"class="logo">
  <div class="container">
    <div class="row all">
      <div class="col-md-5">
        <img src="../../assets/video.jpg" class="img-fluid image">
      </div>
      <div class="col-md-7">
        <form #registerForm="ngForm" (ngSubmit)="registerForm;">
          <h1>Sign Up</h1>
          <div class="form-row">
            <div class="col-md-7 fields">
              <img src="../../assets/name.png" class="img-name">
              <input type="text" class="form-control" placeholder="Your Name" name="username_register" required ngModel #username_register="ngModel">
              <small class="form-text text-muted" *ngIf="username_register.touched && !username_register.valid"> Please Enter Your Name</small>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-7 fields">
              <img src="../../assets/email.png" class="img-name">
              <input type="email" class="form-control" placeholder="Your Email" name="email_register" email required ngModel #email_register="ngModel">
              <small class="form-text text-muted" *ngIf="email_register.touched && !email_register.valid">Please Enter Your Email</small>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-7 fields">
              <img src="../../assets/padlock.png" class="img-name">
              <input type="password" class="form-control" placeholder="Your Password" name="password_register" required ngModel #password_register="ngModel">
              <small class="form-text text-muted" *ngIf="password_register.touched && !password_register.valid">Please Enter Your Password</small>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-7 fields">
              <img src="../../assets/employee.png" class="img-name">
              <input type="text" class="form-control" placeholder="Your Roll" name="roll_register" required ngModel #roll_register="ngModel">
              <small class="form-text text-muted" *ngIf="roll_register.touched && !roll_register.valid">Please Enter Your Roll</small>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-7">
              <button type="submit" class="btn btn-primary" routerLink="/login"[disabled]="!registerForm.valid">Sign Up</button>
              <div class="icons">
                <i class="fas fa-envelope"></i>
                <i class="fab fa-facebook"></i>
              </div>
              <p>Don't have account? <span class="span-sign" routerLink="/login">Sign in</span> now</p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
